/*
Author: Cameron Andrus
Date: 01/11/2024
File Name: apply08.css
*/

/* CSS Reset */
body, main, footer, table {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for table element */
table {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid #71881b;
}

table, tr, th, td {
	border-collapse: collapse;
	padding: 2%;
}

/* Style rule for caption element */

caption {
	font-size: 2em;
	padding: 2%;
	margin-top: 2%;
}

/* Style rule for th and td selectors */

th, td {
	border: 1px solid #7188bb;
}

td {
	text-align: center;
}

/* Style rule for tr */
tr {
	background-color: #d3e788;
}


/* Style rule for body */
body {
	background-color: #f4f9e1;
}

/* Style rule for the container */
#container {
	width: 80%;
	margin: 0 auto;
}

/* Style for the footer element */
footer {
	font-size: .70em;
	text-align: center;
}